/*tag selectors */
body{
  margin: 0px;
  font-size: 1.2rem;
}
header{
  margin: 0px;
  padding: 20px;
  height: 50px;
  background-color: #F8A8A8;
}
button{
  display: inline-block;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.15);
  margin: 20px;
  height: 40px;
  width: 90px;
  border: none;
  border-radius: 12px;
  transition: all .3s;
  top: 10px;
}
button:hover{
  height: 45px;
  width: 100px;
  letter-spacing: 2px;
  background-color: transparent;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: white;
  border-radius: 0px;
  border-width: thin;
}
h3{
  margin: 0px;
}
footer{
  background-color: #F8A8A8;
  padding: 20px;
  text-align: center;
}
/*class selectors*/
.services{
  left: 34%
}
.login{
  left: 44%;
}
.sign-up{
  left: 54%
}
.lines{
  text-decoration: underline;
  margin: 20px;
  position: relative;
}
.f{
  left: 20%;
}
.s{
  left: 35%;
}
.t{
  left: 45%;
}
.ramu{
  background-color: rgba(174, 111, 111, 0.15);
  margin-bottom: 0px;
}
.description{
  align-items: center;
  background-color: rgba(106, 136, 193, 0.15);
  margin: 0 400px 50px 450px;
  position: relative;
  bottom: 20px;
}
.mail-link{
  text-decoration: none;
  color: white;
}
