h2{
  margin-top: 200px;
  font-family: 'Baloo Bhai', cursive;
}
button{
  height: 60px;
  width: 300px;
  font-size: 1.2rem;
  font-family: 'Baloo Bhai', cursive;
  border-radius: 20px;
  border: none;
  background-color: teal;
  color: coral;
  margin-top: 30px;
}
button:hover{
  background-color:coral;
  color:  teal;
}
form{
  padding-top: 50px;
  clear: both;
}
input{
   background: transparent;
   border: none;
   border-bottom: 1px solid #000000;
   width: 350px;
}
.ngo_update{
  font-family: 'Baloo Bhai', cursive;
  margin-left:  auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 100px;
  background-color: #c2ffff;
  width: 450px;
  height: 720px;
  border-radius: 15px;
}
