<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>E-Ramu: Your Restaurant Manager</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>

  <nav id="navbar">
    <div id="logo">
      <img src="photos/logo.jpg" alt="E-Ramu.com">
    </div>

    <ul>
      <li class="item"><a href="/index">Home</a></li>
      <li class="item"><a href="/services">Services</a></li>
      <li class="item"><a href="/Login">Log In</a></li>
      <li class="item"><a href="/Sign_up">Sign Up</a></li>
      <li class="item"><a href="#footer">Contact Us</a></li>
    </ul>

  </nav>

  <section id="home">
    <h1 class="h-primary">Welcome to E-Ramu</h1>
    <p>Are you a restaurant owner/manager? </p>

    <p>

      Know someone who is?
    </p>

    <p>

      Or do you know a restaurant in dire need of proper management?
    </p>

  </section>


  <hr>
  <section id="services-container">
    <div id="services">
      <div class="box">
        <h2 class="h-secondary center">Congratulations Ji!</h2>
        <br>
        <p class="center">You have come to just the right place👇</p>

        <p class="center">E-Ramu: The restaurant manager is here to help you!</p>
      </div>
      <div class="box">

        <h2 class="h-secondary center"> We Will</h2>
        <p class="center">
        <ul>
          <li>Keep a fool-proof record of your transactions</li>
          <li>Manage your staff details <br>(This Ramu will not let your staff
            gaslight you on salary payments and dues xD)</li>
          <li>Generate customer bills</li>
          <li>Provide a review portal</li>
          <li>Estimate customer waiting times</li>
          <li>Calculate your periodic profit/loss</li>
          <li>Organise reservations</li>
        </ul>
        </p>
      </div>

    </div>
  </section>


  <div id="footer">
  <footer>
    <h3 class="center">If you have any complaints, queries or compliments, mail us <a class="mail-link"
        href="mailto:summedhapoonia@icloud.com">here</a></h3>
    <small class="center"> &copy; E-Ramu: Restaurant Manager 2021</small>
  </footer>
</div>

</body>

</html>
