<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login_signup.css">
    <title>Login to E-Ramu</title>
  </head>
  <body>
    <center>
    <div class="login_box">
      <img src="photos/logo.jpg" alt="">
      <h3><a href="/index">E-Ramu</a></h3>
      <p>Welcome back. <br> Please Login to your account</p>

        <form class="form" action="/login" method="POST">
          <label for="">Email</label><br>
          <input type="email" name="email" value="" placeholder="name@example.com"><br>
          <label for="">Password</label><br>
          <input type="password" name="password" value="" placeholder="**********">
          <a class="forgot"href="#">Forgot password?</a><br>
          <button type="submit" name="button">Login</button>
        </form> 

      <p class="member">Not a member yet?  <a href="/Sign_up">Sign up</a></p>
    </div>
    </center>
  </body>
</html>


