<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Management Admin Login</title>
    <link rel="stylesheet" href="css/login_signup.css">
  </head>
  <body>
    <center>
      <div class="login_box staff_management_login">
        <a href="index.html"><img src="photos/logo.jpg" alt=""></a>
        <h3>Staff Management Admin Login</h3>
        <p>Welcome back! <br> Please login to your administrator account to avail this service.</p>
        <form class="form" action="index.html" method="post">
          <label for="">Email</label><br>
          <input type="email" name="" value="" placeholder="name@example.com"><br>
          <label for="">Password</label><br>
          <input type="password" name="" value="" placeholder="***********"><br>
        </form>
        <a class="forgot"href="#">Forgot password?</a><br>
        <a href="/staff_management"><button type="button" name="button">Login</button></a>
        <p class="member">Not a member yet?  <a href="/Sign_up">Sign up</a></p>
      </div>
    </center>
  </body>
</html>
